<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Industry Smart Ware IITI</title>
    
        <!-- CSS office -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theam.min.css"  rel="stylesheet"/>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
        <!-- CSS custum-->
        <link rel="stylesheet" href="/bcss/custom.css"/>
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h3>Online Users</h3>
                        <ul class="list-group" id="user"></ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="chat" id="chat"></div>
                    <form id="messageForm">
                        <div class="form-group">
                            <label>Enter Message</label>
                            <textarea class="form-control" id="message">
                            </textarea>
                            </br>
                            <input type="submit" class="btn btn-primary" value="Send Message" />
                               
                        </div>
                    </form>
                </div>
    </body>
</html>