
<script>
    $(document).load(function(){
        /*
        var actulHeight= 0;
        var actualHeight= $(window).height()-50;
        function calHeight(){
            
            $(".main").height(actualHeight);
            $(".left-panel").height(actualHeight);
            $(".center-panel").height(actualHeight);
            $(".right-panel").height(actualHeight);
        }
        
        calHeight();
        */
        alert("Hello! I am an alert box!!");

});
</script>
<div class="row center-block" id="front-page">
    <div class="col-md-4">
	</div>
    
    <div class="col-md-4" id="center-block">
        <h3>Well come to</br><strong>Industry Smart Ware</br>IITI</strong></h3>
        <center><img src="img/logoImage4.0.png" id="front-image"  width="300px" height="300px" alt=""/></center>
    </div>
    
    <div class="col-md-4">
	</div>
</div>
