

</script>
 <div class="container" style="margin-top:100px">    
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading" style="height: 50px;">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 85%; position: relative; top:0px"><a href="#">Forgot password?</a></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    
                <form method="post" id="loginform" action="/users/login" class="form-horizontal" role="form">
                            
                    <div style="margin-bottom: 25px" class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="username" placeholder="user name" required>                                        
                    </div>
                        
                    <div style="margin-bottom: 25px" class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
                    </div>
                            

                        
                    <div class="input-group" style="float:left;">
                        <div class="checkbox" >
                        <label>
                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                        </div>
                    </div>


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls" style="padding-top:15px;">
                            <button type="submit" class="btn btn-success btn-lg">&nbsp&nbsp Login &nbsp&nbsp</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account! 
                                <a href="/users/register">Sign Up Here</a>
                            </div>
                        </div>
                    </div>    
                </form>     
            </div>                     
        </div>  
    </div>  
</div>