{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
{{/if}}

<script>
    
</script>

<div class="container" style="padding-top:50px">
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/users/login">Sign In</a></div>
            </div>  
            <div class="panel-body">
                <form method="post" data-toggle="validator" action="/users/register" id="signupform" class="form-horizontal" role="form">
                    
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                        
                    
                    <!--    
                    <div class="form-group input-group-lg">
                        <label class="col-md-3 control-label">Select user</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="userType" placeholder="Select User" required>
                        </div>
                    </div>
                    -->
                    <div class="form-group input-group-lg">
                        <label class="col-md-3 control-label">Industry Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="industryName" placeholder="Select User" required>
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="userName" placeholder="Name" required>
                        </div>
                    </div>
                    
                    <div class="form-group input-group-lg">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="User ID" required>
                        </div>
                    </div>
                    
                    
                    <div class="form-group input-group-lg">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    
                    <div class="form-group input-group-lg">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="cpasswd" placeholder=" Confirm password" required>
                        </div>
                    </div>
                    

                    <div class="form-group">
                                                        
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-success btn-lg">&nbsp&nbsp Sign Up&nbsp&nbsp</button>
                                
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
