@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop form {
  display: inline-block;
  font-size: 0px;
  padding: 2%;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshop input {
  background: #222; 
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
}

.ie .webdesigntuts-workshop input {
  line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 161, 210,.2), inset 0 0 5px rgba(0, 161, 210,.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
  color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
  color: #efe;
}

.webdesigntuts-workshop button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
} 

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: rgb(0, 161, 210);
  outline: none;
}

.webdesigntuts-workshop button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
    0% {
    border-color: rgba(0, 161, 210,.2);
    box-shadow: 0 0 5px rgba(0, 161, 210,.2), inset 0 0 5px rgba(0, 161, 210,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: rgba(0, 161, 210,.8);
    box-shadow: 0 0 20px rgba(0, 161, 210,.6), inset 0 0 10px rgba(0, 161, 210,.4), 0 2px 0 #000;
    }
}
