.main_contant{
	position: relative;
	top: 125px;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 100px;
	max-width: 900px;
	background-color:  rgb(175,183,194);
	border: 1px solid inherit;
	border-radius: 6px; 
}
.fields{
	text-align: center;
}
.search_input{
	padding-left: 8%;
	margin: 2%;
}
.search_box{
	margin-bottom: 2%;
	height: 35px;
	border-radius: 3px;
}
.submit_box{
	height: 30px;
	border-radius: 3px;
}