.navbar-brand .temp .changecolor{
	font-size: 220%;
}
.navbar_links_font{
	font-size: 190%;
}
.jumbotron{
	background-color: white;
}
.opn_on{
	margin-bottom: 8%;
}
#failed_options{
	padding: 8%;
}
#on_options{
	padding: 8%;
	padding-bottom: 1%;
}
#idle_options{
	padding: 8%;
}