<!DOCTYPE html>
<html lang="en">
<head>
  <!--Start of meta tags-->
  <meta charset="utf-8" />
  <meta name="description" content="Industry 4.0 IIT Indore" />
  <!--description about the website-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Smart manufacturing,iiti,IIT Indore,industry 4.0,isw,search" />
  <meta name="author" content="Souvik Mandal">
  <!--/.End of meta tags-->
  <title>
    Search Machine
  </title>
  <link rel='stylesheet' href='/stylesheets/search.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop form {
  display: inline-block;
  font-size: 0px;
  padding: 2%;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshop input {
  background: #222; 
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
}

.ie .webdesigntuts-workshop input {
  line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 161, 210,.2), inset 0 0 5px rgba(0, 161, 210,.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
  color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
  color: #efe;
}

.webdesigntuts-workshop button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
} 

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: rgb(0, 161, 210);
  outline: none;
}

.webdesigntuts-workshop button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
    0% {
    border-color: rgba(0, 161, 210,.2);
    box-shadow: 0 0 5px rgba(0, 161, 210,.2), inset 0 0 5px rgba(0, 161, 210,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: rgba(0, 161, 210,.8);
    box-shadow: 0 0 20px rgba(0, 161, 210,.6), inset 0 0 10px rgba(0, 161, 210,.4), 0 2px 0 #000;
    }
}

  </style>
</head>
<body style="background-color: #404040 !important;">
<div id="box1 col-xs-12">
  <nav class="navbar navbar-inverse navbar_ab navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand temp changecolor" href="/" style="font-size: 220%">ISW</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li >
            <a href="/" class="navbar_links_font">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--./End of header container-->
</div>
<div class="container-fluid main_contant">
  
  <div class="fields" >
      <div style="color: black;font-family: 'Merriweather', serif;"> <h1 style="color: #00a1d2;text-align: center; text-shadow: 1px 1px 0  rgba(0,0,0,0.8)">Search machine</h1></div>
      <section class="webdesigntuts-workshop" >
      <form action="/search" method="post" style="margin: 0px;" class="col-md-12 col-xs-12">      
      	<div class="col-md-2"></div>  
        <input type="search" class="col-xs-12 col-md-6" placeholder="What are you looking for?" minlength=2 name="search" />         
        <button class="col-md-2 col-xs-12 ">Search</button>
        <div class="col-md-2"></div>  
      </form>
    </section>
  </div>
 
</div>
<script src="<c:url value='javascripts/bootstrap.min.js'/>" ></script> <!-- /.bootstrap libraries -->
<script type="text/javascript" src="js/jquery.min.js"></script>
</body>
</html>