<!DOCTYPE html>
<html lang="en">
<head>
  <!--Start of meta tags-->
  <meta charset="utf-8" />
  <meta name="description" content="Industry 4.0 IIT Indore" />
  <!--description about the website-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Smart manufacturing,iiti,IIT Indore,industry 4.0,isw,search" />
  <meta name="author" content="Souvik Mandal">
  <!--/.End of meta tags-->
  <title>
    Search Machine
  </title>
  <link rel='stylesheet' href='/stylesheets/search.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <style type="text/css">
    
  </style>
</head>
<body style="background-color: #404040 !important;">
<div id="box1 col-xs-12">
  <nav class="navbar navbar-inverse navbar_ab navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand temp changecolor" href="/" style="font-size: 220%">ISW</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li >
            <a href="/" class="navbar_links_font">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--./End of header container-->
</div>
<div class="container-fluid main_contant">
  
  <div class="fields" >
      <div style="color: black;font-family: 'Merriweather', serif;"> <h1 style="color: #00a1d2;text-align: center; text-shadow: 1px 1px 0  rgba(0,0,0,0.8)">Search machine</h1></div>
      <section class="webdesigntuts-workshop" >
      <form action="/search" method="post" style="margin: 0px;" class="col-md-12 col-xs-12">      
      	<div class="col-md-2"></div>  
        <input type="search" class="col-xs-12 col-md-6" placeholder="What are you looking for?" minlength=2 name="search" />         
        <button class="col-md-2 col-xs-12 ">Search</button>
        <div class="col-md-2"></div>  
      </form>
    </section>
  </div>
 
</div>
<script src="<c:url value='javascripts/bootstrap.min.js'/>" ></script> <!-- /.bootstrap libraries -->
<script type="text/javascript" src="js/jquery.min.js"></script>
</body>
</html>