<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Search result
        </title>
    </head>
    <body>
    <h1>Search results are :<br/>
        <%
            for(var i=0;i<title.length;i++){
        %>
            username:
            <%=title[i].username %><br/>
            type:
            <%=title[i].type %><br/>
        <%
            }
        %>
    </h1>
    </body>
</html>