.navbar-brand .temp .changecolor{
	font-size: 220%;
}
.navbar_links_font{
	font-size: 130%;
}
.jumbotron{
	background-color: white;
}
.jumbotron>h1{
	font-size: 300%;
	text-align: center;
}
.panel-group{
  	text-align: center;
  }
  .panel-body{
  	text-align: justify;
  }
  .mainContant{
  	margin-top: 50px;
  }
  .cls_history{
  	text-align: center;
  }
  .idle_sub_opn{
  	padding-left: 3%;
  }