<!DOCTYPE html>
<html>
<head>
  <!--Start of meta tags-->
  <meta charset="utf-8" />
  <meta name="description" content="Industry 4.0 IIT Indore" />
  <!--description about the website-->
  <meta name="keywords" content="Smart manufacturing,iiti,IIT Indore,industry 4.0,isw" />
  <meta name="author" content="Souvik Mandal, Saptarshi Ghosh, Aravind Ravikumar, GVS Akhil, Rishika Patel">
  <link rel="icon" href="img/favicon.png">
  <!--/.End of meta tags-->
  <title>
    Log in to machine
  </title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
  <div style="margin-top: 12%;">
    <p>
      <h1 style="color: #00a1d2;text-align: center; text-shadow: 1px 1px 0  rgba(0,0,0,0.8)">Log In to Machine</h1>
    </p>
</div>
  <div>
    <form method="post" action="/MainPage" class="login">
        <p>
          <label for="username">Username:</label>
          <input type="text"  id="login" name="uid" placeholder="Username" required="required" autocomplete="off">
        </p>

        <p>
          <label for="password">Password:</label>
          <input type="password" name="pwd" placeholder="Password" required="required" autocomplete="off">
        </p>

        <p class="login-submit">
          <button type="submit" class="login-button">Login</button>
        </p>

        <p class="forgot-password"><a href="#">Forgot your password?</a></p>
    </form>
</div>
</body>
</html>