<!DOCTYPE html>
<html>
<head>
	<!--Start of meta tags-->
	<meta charset="utf-8" />
	<meta name="description" content="Web site login page" />
	<!--/.need change-->
	<!--description about the website-->
	<meta name="keywords" content="Smart manufacturing,iiti,IIT Indore" />
	<meta name="author" content="Souvik Mandal">
	<!--/.End of meta tags-->
	<title>
		Machine Status 
	</title>
	
	<!--Adding boostrap css file link-->
	<!--Need to change when uploading-->
	

  <link href="css/bootstrap.css" rel="stylesheet" /> 
  <!-- pulls in the main bootstrap content we need -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--/.End of boostrap file link-->
    <link href="css/page.css" rel="stylesheet" />
</head>
<body >
<div id="box1 col-xs-12">
  <nav class="navbar navbar-inverse navbar_ab navbar-fixed-top">
      <div class="container-fluid">
    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand temp changecolor" href="#" style="font-size: 220%">ISW</a>
        </div>

    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li >
            <a href="#" class="navbar_links_font">Home 
            <span class="sr-only">(current)</span>
            </a>
            </li>
            </ul>
      </div>
    </div>
  </nav>
  <!--./End of header container-->
  </div>
  <div class="mainContant">
    <div class="jumbotron col-xs-6">
        <h1>System Status</h1> 
    </div>    
    <div class="jumbotron col-xs-6 alert-success" role="alert">
        <h1 >Active</h1>
    </div>  
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#on">
            ON</a>
          </h4>
        </div>
        <div id="on" class="panel-collapse collapse ">
          <div class="panel-body">
            <label class="idle_sub_opn">
              <input type="radio" name="status" value="#"> Printing
			</label>
            <br/>
			<label class="idle_sub_opn">
              <input type="radio" name="status" value=""> Product Loading 
			</label>
            <br/>
			<label class="idle_sub_opn">
              <input type="radio" name="status">Preheating
			</label>
            <br/>
			<label class="idle_sub_opn">
              <input type="radio" name="status">Positioning the extruder  
			</label>
            <br/>
			<label class="idle_sub_opn">
              <input type="radio" name="status">Print started 
			</label>
            <br/>
			<label class="idle_sub_opn">
              <input type="radio" name="status">Print completed 
			</label>
            <br/>				
            <label class="idle_sub_opn">
              <input type="radio" name="status">Auto homing 
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Ready to unloaded 
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status"> Unloaded 
            </label>
            <br/>
          </div>
        </div>
      </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#failed_options">
        FAILED</a>
      </h4>
    </div>
    <div id="failed_options" class="panel-collapse collapse">
      <div class="panel-body">
        <label class="idle_sub_opn">
          <input type="radio" name="status" value="#">Component Assembly 1 
        </label>
        <br/>
        <label class="idle_sub_opn">
          <input type="radio" name="status" value="">Component Assembly 2  
        </label>
        <br/>
        <label class="idle_sub_opn">
          <input type="radio" name="status">Component Assembly 3 
        </label>
        <br/>
        <label class="idle_sub_opn">
          <input type="radio" name="status">Component Assembly 4   
        </label>
        <br/>
        <label class="idle_sub_opn">
          <input type="radio" name="status">Component Assembly 5  
        </label>
        <br/>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#idle_opn">
        IDLE</a>
      </h4>
    </div>
    <div id="idle_opn" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>No Demand</h3>
          <label class="idle_sub_opn">
               <input type="radio" name="status" value="#">No product to load 
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status" value="">Product scheduled to load  
            </label>
            <h3>Material Unavailable</h3>
            <label class="idle_sub_opn">
              <input type="radio" name="status">No Material to load
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Material refilled  <br/>
            </label>
            <h3>Power Failure</h3>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Power gone <br/>
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Power resume <br/>
            </label>
            <h3>Operator Unavailable</h3>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Operator busy with other work <br/>
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Operator Absent <br/>
            </label>
            <br/>
            <label class="idle_sub_opn">
              <input type="radio" name="status">Operator arrive <br/>
            </label>
            <br/>
      </div>
    </div>
  </div>
</div>

<!-- HISTORY-->
<div class="container-fluid cls_history col-xs-12">
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">History</button>

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            History<br>
            ....
          </div>
        </div>
      </div>
    </div>
  <!--./End of top heading container-->
  </div>
  <script src="js/jquery.min.js"></script> <!-- /.jquery libraries -->
  <script src="js/bootstrap.min.js"></script> <!-- /.bootsrap libraries -->
</body>
</html>